@model PagedList.IPagedList<XEngine.Web.Models.SysUser>
@using PagedList.Mvc;

<h2>ManageList</h2>

<link href="~/Content/PagedList.css" rel="stylesheet" />
<p class="sub-header">@Html.ActionLink("Create New", "Create")</p>
@using (Html.BeginForm())
{
    <p>
        UserName：@Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>@Html.ActionLink("UserName", "ManageList", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })</th>
        <th>Email</th>
        <th>CreateDate</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.UserName)</td>
            <td>@Html.DisplayFor(modelItem => item.Email)</td>
            <td>@Html.DisplayFor(modelItem => item.ModifiedDate)</td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ID })
                @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }
</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("ManageList", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
